/* =========================
   DARK THEME
   BUTTON TETAP SAMA
========================= */


/* BODY */
body{
    background:#0f172a;
}


/* LOGIN */
#loginPage{
    background:#0f172a;
}


.login-card{
    background:#1e293b;
    color:white;
}


.login-card p{
    color:#94a3b8;
}


/* SIDEBAR */
.sidebar{
    background:linear-gradient(
        180deg,
        #020617,
        #111827
    );
}


/* PROFILE */
.profile-card{
    background:#1e293b;
    color:white;
}


.profile-name{
    color:#60a5fa;
}


/* SEARCH */
.search-box{
    background:#111827;
}


.search-box input{
    color:white;
}


.search-box i{
    color:#94a3b8;
}


/* GROUP LIST */
.group-item{
    color:white;
}


.group-item:hover{
    background:rgba(255,255,255,.08);
}


.group-desc,
.group-time{
    color:#94a3b8;
}


/* CHAT AREA */
.chat{
    background:#020617;
}


/* HEADER */
.chat-header{
    background:#111827;
    border-bottom:1px solid #334155;
    color:white;
}


.group-members{
    color:#94a3b8;
}


/* MESSAGE */
.bubble{
    background:#1e293b;
    color:white;
}


.sender{
    color:#60a5fa;
}


/* INPUT */
.input-box{
    background:#111827;
    border-top:1px solid #334155;
}


#messageInput{
    background:#020617;
    color:white;
    border-color:#2563eb;
}


#messageInput::placeholder{
    color:#94a3b8;
}



/* SCROLLBAR DARK */
::-webkit-scrollbar{
    width:8px;
}


::-webkit-scrollbar-track{
    background:#020617;
}


::-webkit-scrollbar-thumb{
    background:#334155;
    border-radius:10px;
}
